*{
    margin: 0;
    padding: 0;
}


#splash{
    margin:0;    
    background-color:#2B2B2B;
    height: 100%;
    width:100%;
    padding-top: 100%;
    padding-bottom: 150%;
}

.foodmap{
    color:#BC7D42;
    font-size: 24px;
    display:flex;
    justify-content: center;
    align-items: center;
}
